@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.normalText {
    font-size: 24px;
}

af|outputFormatted {
    font-size: 24px;
    background-color: transparent;
}

af|toolbar af|outputFormatted {
    font-size: 24px;
}

af|inputText::label {
    font-size: 16px;
}

af|inputText::content {
    font-size: 16px;
}

.AFDefaultFont:alias {
    font-size: 16px;
}